/* Estilo geral */
body {
    background-color: #f8f9fa; /* Fundo claro padrão do Bootstrap */
    color: #212529; /* Texto em cor escura para boa legibilidade */
    font-family: Arial, sans-serif;
}

/* Centralização do conteúdo principal */
.App-body {
    padding: 2rem;
    text-align: left;
}

/* Cabeçalho da aplicação */
.App-header {
    background-color: #343a40; /* Cor escura para contraste */
    color: white;
    padding: 1.5rem 0;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    margin-bottom: 2rem;
}

/* Tabela de livros */
.table thead th {
    background-color: #343a40; /* Fundo escuro para o cabeçalho */
    color: white;
}

.table tbody tr:hover {
    background-color: #f1f1f1; /* Efeito hover nas linhas da tabela */
}

/* Botão de exclusão */
.btn-danger {
    font-size: 0.9rem;
}

/* Título */
h1 {
    font-size: 2rem;
    margin-bottom: 1rem;
    font-weight: bold;
}

/* Ajustes para listas não ordenadas */
ul.list-unstyled {
    padding-left: 0;
    margin-bottom: 0;
}

/* Estilização dos links */
.App-link {
    color: #61dafb;
}
